@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: "Space Grotesk", sans-serif;
  }

  .blur{
    backdrop-filter:blur(10px);
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(-230%);
    }
    100% {
      transform: translateX(100%);  
    }
  }
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-move-r {
    animation: moveRight 50s linear infinite;
  }
  .animate-move-l {
    animation: moveLeft 60s linear infinite;
  }
}

@theme {
  --font-monteseret-regular: "Montserrat", sans-serif;
  --font-Caprasimo-regular: "Caprasimo", sans-serif;
}
