@import "tailwindcss";

@layer base {
  html,
  body {
    font-family: "Space Grotesk", sans-serif;
    --loading-image:url('./public/ani-comic.svg')
  }


  .blur {
    backdrop-filter: blur(10px);
  }

  .bg-image::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: url("../src/assets/loadingLOGO.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    filter: opacity(0.2);
    z-index: -5;
    /* background-size: cover; */
  }

  @media (max-width: 800px) {
    .bg-image::after {
      background-size: 50%;
    }
  }

  .top-shadow {
    z-index: 10;
  }

  .top-shadow::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    /* height: 7px; */
    z-index: 12;
    filter: blur(4px);
    @apply shadow-[0px_-10px_40px_50px] shadow-amber-600;
  }
  .top-shadow::after {
    content: "";
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    /* height: 7px; */
    z-index: 12;
    filter: blur(4px);
    @apply shadow-[0px_-10px_80px_20px] shadow-amber-600;
  }

  #div-to-hover:has(#div-to-hover:hover) .peer-mobile {
      transform : translateY(-100);
  }

  @keyframes moveLeft {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes moveRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-move-r {
    animation: moveLeft 50s linear reverse infinite;
  }
  .animate-move-l {
    animation: moveRight 70s linear infinite;
  }
}

@theme {
  --font-monteseret-regular: "Montserrat", sans-serif;
  --font-Caprasimo-regular: "Caprasimo", sans-serif;
}
